PORT=5000
MONGO_URI=mongodb+srv://royelnath123_db_user:gYRT8lk0fBBCUJar@cluster0.mnuxl7e.mongodb.net/?appName=Cluster0
JWT_SECRET=498f3984e5659837948576020c029384756d9283746561029384756c
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173

# Gmail SMTP (use App Password from Google Account)
EMAIL_HOST=royelnath123@gmail.com
EMAIL_PORT=587
EMAIL_USER=royelnath123@gmail.com
EMAIL_PASS=yuix nhql ylwz upza
EMAIL_FROM=Lab Management System royelnath123@gmail.com

# Lab Info (appears on prescription)
LAB_NAME=City Diagnostic Laboratory
LAB_ADDRESS=123 Main Street, City, State 400001
LAB_PHONE=+91-9876543210
LAB_EMAIL=info@citylab.com
